[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".emacs.d/vendor/coffee-mode"]
	path = .emacs.d/vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/vendor/vimpulse"]
	path = .emacs.d/vendor/vimpulse
	url = git://gitorious.org/vimpulse/vimpulse.git
[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule ".emacs.d/vendor/anything-config"]
	path = .emacs.d/vendor/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule ".emacs.d/vendor/html5-el"]
	path = .emacs.d/vendor/html5-el
	url = https://github.com/hober/html5-el.git
[submodule ".emacs.d/vendor/zencoding"]
	path = .emacs.d/vendor/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule ".emacs.d/vendor/jade-mode"]
	path = .emacs.d/vendor/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule ".emacs.d/vendor/magit"]
	path = .emacs.d/vendor/magit
	url = git://github.com/magit/magit.git
[submodule ".emacs.d/vendor/yasnippet"]
	path = .emacs.d/vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/lib/emacs-deferred"]
	path = .emacs.d/lib/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule ".emacs.d/vendor/navi2ch"]
	path = .emacs.d/vendor/navi2ch
	url = git://navi2ch.git.sourceforge.net/gitroot/navi2ch/navi2ch
[submodule ".emacs.d/vendor/rinari"]
	path = .emacs.d/vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule ".emacs.d/vendor/rhtml"]
	path = .emacs.d/vendor/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule ".emacs.d/vendor/evil"]
	path = .emacs.d/vendor/evil
	url = git://gitorious.org/evil/evil.git
[submodule ".emacs.d/vendor/multi-web-mode"]
	path = .emacs.d/vendor/multi-web-mode
	url = https://github.com/fgallina/multi-web-mode.git
