.DS_Store
.ssh
.zsh_history
.vim/.netrwhist
.emacs.d/auto-save-list
.emacs.d/tramp
.emacs.d/ac-comphist*
.emacs.d/session*
.emacs.d/inits-disabled*
.emacs.d/kill-ring-saved*
.emacs.d/.woman-cache.el
.emacs.d/abbrev_defs
.emacs.d/vendor/php-mode-1.5.0/php-manual
