.DS_Store
*.elc

/.ssh

/.zsh_history

/.vim/.netrwhist

/.rbenv/shims
/.rbenv/version
/.rbenv/versions

/.emacs.d/auto-save-list
/.emacs.d/tramp
/.emacs.d/thumbs
/.emacs.d/ac-comphist*
/.emacs.d/session*
/.emacs.d/inits-disabled*
/.emacs.d/kill-ring-saved*
/.emacs.d/.woman-cache.el
/.emacs.d/abbrev_defs
/.emacs.d/vendor/php-mode-1.5.0/php-manual
/.emacs.d/src
/.emacs.d/vendor/elpa/archives
/.emacs.d/trash
/.emacs.d/url
/.emacs.d/bookmarks
/.emacs.d/vendor/elpa
/.emacs.d/history
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/private.el
/.emacs.d/el-get
/.emacs.d/.project-roots
/.emacs.d/.mc-lists.el
