[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule ".emacs.d/vendor/html5-el"]
	path = .emacs.d/vendor/html5-el
	url = https://github.com/hober/html5-el.git
[submodule ".emacs.d/vendor/zencoding"]
	path = .emacs.d/vendor/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule ".emacs.d/vendor/jade-mode"]
	path = .emacs.d/vendor/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule ".emacs.d/vendor/yasnippet"]
	path = .emacs.d/vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/lib/emacs-deferred"]
	path = .emacs.d/lib/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule ".emacs.d/vendor/navi2ch"]
	path = .emacs.d/vendor/navi2ch
	url = git://navi2ch.git.sourceforge.net/gitroot/navi2ch/navi2ch
[submodule ".emacs.d/vendor/rhtml"]
	path = .emacs.d/vendor/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule ".emacs.d/vendor/multi-web-mode"]
	path = .emacs.d/vendor/multi-web-mode
	url = https://github.com/fgallina/multi-web-mode.git
[submodule ".emacs.d/vendor/rspec-mode"]
	path = .emacs.d/vendor/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule ".emacs.d/lib/emacs-websocket"]
	path = .emacs.d/lib/emacs-websocket
	url = git://github.com/ahyatt/emacs-websocket.git
[submodule ".emacs.d/vendor/auto-complete-clang"]
	path = .emacs.d/vendor/auto-complete-clang
	url = git://github.com/brianjcj/auto-complete-clang.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".rbenv/plugins/rbenv-binstubs"]
	path = .rbenv/plugins/rbenv-binstubs
	url = https://github.com/ianheggie/rbenv-binstubs.git
