[user]
	name = yukihiro hara
	email = yukihr@gmail.com

[color]
	ui = true

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
  sm = submodule
	lo = log --oneline
  gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short

[core]
  pager = lv -c -Ou8
	excludesfile = /Users/yukihr/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
